@page "/chat/{ChatRoomId}"
@using Orleans.Silo
@using Orleans.Silo.Primitives
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

<div class="chat-container">
    <h1>Chat @Messages.Count()</h1>
    <button @onclick="Clear">Clear</button>
    <div class="messages">
        @foreach (var message in Messages)
        {
            <ChatMessage Message="@message"/>
        }
    </div>
    <UsersOnline ChatRoomId="@ChatRoomId"/>
</div>


<input @bind="@Username"/>
<input @bind="@Message"/>
<button @onclick="SendMessage">Send Message</button>

@code {

    [Inject]
    private IClusterClient ClusterClient { get; init; } = null!;

    [Parameter, Required]
    public string ChatRoomId { get; set; } = null!;

    private IChatRoomObserver? _chatRoomObserver;

    private List<Orleans.Silo.Primitives.ChatMessage> Messages { get; } = [];
    private string? Message { get; set; }
    private string? Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var chatRoomGrain = ClusterClient.GetGrain<IChatRoom>(ChatRoomId);
        var observer = new ChatRoomObserver(msg =>
        {
            Messages.Add(msg);
            return InvokeAsync(StateHasChanged);
        }, _ => Task.CompletedTask);
        _chatRoomObserver = ClusterClient.CreateObjectReference<IChatRoomObserver>(observer);
        await chatRoomGrain.Join(_chatRoomObserver);
        var history = await chatRoomGrain.GetHistory();
        Messages.AddRange(history.ToList());
    }

    private async Task Clear()
    {
        var chatRoomGrain = ClusterClient.GetGrain<IChatRoom>(ChatRoomId);
        await chatRoomGrain.Clear();
        Messages.Clear();
    }

    private async Task SendMessage()
    {
        if (Username is null || Message is null)
            return;
        var chatRoomGrain = ClusterClient.GetGrain<IChatRoom>(ChatRoomId);
        var chatMessage = new Orleans.Silo.Primitives.ChatMessage(new Username(Username), Message);
        await chatRoomGrain.PostMessage(chatMessage);
    }

}