@page "/chat"
@rendermode InteractiveServer
@inject IClusterClient ClusterClient


<h1>Chat @Messages.Count()</h1>
<button @onclick="Clear">Clear</button>
<div class="chat-container">
   @foreach (var message in Messages)
   {
        <ChatMessageComponent Message="@message" />
   }
</div>

<div class="users-online">
    <h3>Users Online</h3>
    @foreach (var user in UsersOnline)
    {
        <p>@user</p>
    }
</div> 

<input @bind="@Username" />
<input @bind="@Message" />
<button @onclick="SendMessage">Send Message</button>
