@page "/Report"
@rendermode InteractiveServer
@using Healthy.Web.Services
@inject IReportService ReportService

<MudContainer MaxWidth="MaxWidth.Small">
    <h3>You're good as you are ❤️</h3>
    <MudForm>
        <MudTextField Variant="Variant.Text" Label="Enter activity..." @bind-Value="Activity"></MudTextField>
        <MudRadioGroup @bind-Value="@Type">
            <MudRadio Value="@ActivityType.Plus">Plus</MudRadio>
            <MudRadio Value="@ActivityType.Minus">Minus</MudRadio>
            <MudRadio Value="@ActivityType.Unsure">Not sure</MudRadio>
        </MudRadioGroup>
        <MudButton ButtonType="ButtonType.Submit" OnClick="@Send">Submit</MudButton>
    </MudForm>
</MudContainer>

@code {
    private string Activity { get; set; } = string.Empty;
    private ActivityType Type { get; set; } = ActivityType.Plus;

    private async Task Send()
    {
        var report = new ActivityReportDto(
            Guid.CreateVersion7(),
            Activity,
            Type,
            FeelingType.Neutral,
            DateTime.UtcNow);
        await ReportService.Report(report);
    }
}